<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "Home") %>
    <%= stylesheet_link_tag "static_pages", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>                                       
    <%= csrf_meta_tags %>
    
     
  </head>
  <body>
    <div class="center jumbotron">  
      <div class="container-jumbotron">
        <div class="box animate fadeInDown two">
          <h1>Welcome to Eric's Website</h1>
        </div>
      </div>
    </div>
  </body>  
</html>  