<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "Home") %>
    <%= stylesheet_link_tag "static_pages", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>                                       
    <%= csrf_meta_tags %>
    
     
  </head>
  <body>
    
          <h1>Welcome to Eric's Website</h1>
       
  </body>  
</html>  