<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "Home") %>
    <%= stylesheet_link_tag "static_pages", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>                                       
    <%= csrf_meta_tags %>
    
     
  </head>
  <body>
    <div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li class="active">
          <li><a href="#">Illustrations</a></li>
          <li><a href="#">Drawings</a></li>
          <li><a href="#">Paintings</a></li>
          <li><a href="#">Sculpture</a></li>
        </ul>
      </div>
  </div>
  <div id="main">
      <div class="col-md-12">
      	 
          <div class="row">
              <div class="col-md-12"><div class="well">
                  <p>Changing text to test git</p></div>
          </div>
         
        
      </div>
  </div>
</div><!--/row-offcanvas -->  
      
  
</html>  