
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*Navbar*/

#div.container-nav{
  width: 25%;
  margin: 5px;
  margin-right: 5px;
}

header.navbar.navbar-fixed-left{
  width: 25%;
  margin-right: 0px;
}

ul.sidebar-nav{
  width: 20%;
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 0.7em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.3em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.5em;
    }
}




