
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*Navbar*/


div.navbar.navbar-default.navbar-fixed-left{
  margin-right: 5px;
  display: block;
  margin-top: 30px;
  width: 15%;
  position: fixed;
  border-box: none;
  background-color: white;
  text-align: left;
} 

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 17%;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}



.nav > li > a:hover, .nav > li > a:hover {
    text-decoration: none;
    background-color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: white;
}

.navbar-fixed-left a{
  color: #737373;
  font-size: 1.6em;
  text-decoration: none;
  padding-left: 0px;
  text-align: left;
}

#logo{
  
}




@media screen and (max-width: 767px) {
    body {
        font-size: 0.7em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.3em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.5em;
    }
}




